<template>
<!-- Start of Contacts -->
    <div class="tab-pane fade" id="members">
        <div class="search">
            <form class="form-inline position-relative">
                <input type="search" class="form-control" id="people" placeholder="Search for people...">
                <button type="button" class="btn btn-link loop"><i class="material-icons">search</i></button>
            </form>
            <button class="btn create" data-toggle="modal" data-target="#exampleModalCenter"><i class="material-icons">person_add</i></button>
        </div>
        <div class="list-group sort">
            <button class="btn filterMembersBtn active show" data-toggle="list" data-filter="all">All</button>
            <button class="btn filterMembersBtn" data-toggle="list" data-filter="online">Online</button>
            <button class="btn filterMembersBtn" data-toggle="list" data-filter="offline">Offline</button>
        </div>
        <div class="contacts">
            <h1>Contacts</h1>
            <div v-for=" contact in contacts" :key="contact.id" class="list-group" id="contacts" role="tablist">
                <a href="" class="filterMembers all online contact" data-toggle="list">
                    <img class="avatar-md" :src="'img/avatars/'+ contact.profile_image" :alt="contact.name" data-toggle="tooltip" data-placement="top" :title="contact.name">
                    <!-- <div class="status">
                        <i class="material-icons online">fiber_manual_record</i>
                    </div> -->
                    <div class="data">
                        <h5>{{contact.name}}</h5>
                        <p>Cambodia</p>
                    </div>
                    <div class="person-add">
                        <i class="material-icons">person</i>
                    </div>
                </a>
            </div>
        </div>
    </div>
<!-- End of Contacts -->
</template>

<script>
    export default {
        data() {
            return {
                contacts:[],
                messages: [],
                selected:null,
            };
        },
        mounted() {
            axios.get('/contacts')
            .then((response) => {
                this.contacts = response.data;
            })
        },
    }

</script>
