<template>
    <div class="sidebar" id="sidebar">
        <div class="container">
            <div class="col-md-12">
                <div class="tab-content">
                    <ContactList />
                    <DiscussionsList/>
                    <NotificationsList/>
                    <SettingList :auth="auth"/>
                </div>
            </div>
        </div>
	</div>
</template>
<script>
    import ContactList from './ContactList';
    import DiscussionsList from './DiscussionsList';
    import NotificationsList from './NotificationsList';
    import SettingList from './SettingList';
    export default {
        props:{
            auth: {
                type: Object,
                required: true
            }
        },
        mounted() {

        },
        components:{ ContactList, DiscussionsList, NotificationsList, SettingList }
    }
</script>
