<template>
    <div class="layout">
        <Navigation :auth="auth"/>
        <Sidebar :auth="auth"/>
        <AddFriend />
        <NewMessage />
        <Logout/>
        <Conversation/>
    </div>
</template>

<script>
    import Navigation from './layout/Navigation';
    import Sidebar from './layout/Sidebar';
    import AddFriend from './popup/AddFriend';
    import NewMessage from './popup/NewMessage';
    import Conversation from './layout/Conversation';
    import Logout from './popup/Logout';
    export default {
        props: {
            auth: {
                type: Object,
                required: true
            }
        },
        data(){
            return {
                selectedContact: null,
                messages: [],
                contacts: []
            };
        },
        mounted() {

        },

        components: { Navigation, Sidebar, AddFriend, NewMessage, Conversation, Logout}
    }
</script>
