<template>
	<!-- Start of Add Friends -->
				<div class="modal fade" id="ModalLogout" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="requests">
							<div class="title">
								<h1>Are You Sure?</h1>
								<button type="button" class="btn" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
							</div>
							<div class="content">
								<form action="/logout" method="post">
									<div class="form-group">
										<label for="welcome">Message:</label>
										<p>You will Leave this chating app!</p>
									</div>
									<button type="submit" class="btn button btn-danger w-100">Sign Out</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- End of Add Friends -->
</template>

<script>
    export default {
        mounted() {
            console.log('Logout Page')
        }
    }
</script>
